---
import Layout from '../layouts/Layout.astro';
import heroImage from './hero2.png'
import { Image } from 'astro:assets'
---

<Layout title="Welcome to SkillsTech">
    <main class="flex justify-center">
            <Image src={heroImage} alt="hero-image" class="" />
    </main>
</Layout>
