---
import Layout from "../layouts/Layout.astro";
import { Home } from "../components/home";
---

<Layout title="Welcome to SkillsTech">
  <main class="h-[100vh]">
    <Home client:only="react" />
  </main>
</Layout>
